{{ define "main" }}
<section class="main">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-9 col-lg-6">
        {{ partial "title" . }}
        {{ .Content }}
        <form action="https://usebasin.com/f/ef58b4403de0" method="POST" id="js-contactForm" class="needs-validation"
          novalidate>
          <div class="form-floating mb-3">
            <input type="text" name="name" class="form-control" id="inputName" placeholder="Name"
              aria-labelledby="inputNameLabel" required>
            <label for="inputName" id="inputNameLabel">Name</label>
          </div>
          <div class="form-floating mb-3">
            <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email"
              aria-labelledby="inputEmailLabel" required>
            <label for="inputEmail" id="inputEmailLabel">Email</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" name="subject" class="form-control" id="inputSubject" placeholder="Subject"
              aria-labelledby="inputSubjectLabel" required>
            <label for="inputSubject" id="inputSubjectLabel">Subject</label>
          </div>
          <div class="form-floating mb-3">
            <textarea name="message" class="form-control" id="inputMessage" placeholder="Message"
              aria-labelledby="inputMessageLabel" required></textarea>
            <label for="inputMessage" id="inputMessageLabel">Message</label>
          </div>
          <input type="hidden" name="_gotcha">
          <!-- <button type="submit" class="btn btn-outline-primary">Submit</button> -->
          <button class="g-recaptcha btn btn-outline-primary" data-sitekey="6Lew3SMUAAAAAJ82QoS7gqOTkRI_dhYrFy1f7Sqy"
            data-callback='onSubmit'>Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

{{ end }}